/*reset inicial*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*garante que bordas e padding não aumentem o tamanho dos elementos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    /*permite mudar cor e outros atributo em todos o site alterando em apenas um lugar*/
    --bg-color:#280848; /*Cor principal do plano de fundo*/
    --text-color: #e6edf3; /*cor do texto principal*/
    --primary-color:#df4edf; 
    --card-bg: #161b22;
    --border-color: #073f8d;
}

body{
    background-color: var(--bg-color); /*usa variavel de cor de fundo*/
    color: var(--text-color);
    line-height: 1.6;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-pad{
    padding: 80 0px;
}

.navbar{
    background-color: #161b22d0;
    backdrop-filter: blur(10px);
    position: fixed; /*mantém o menu sempre visivel no topo*/
    width: 100%;
    z-index: 1000;
}

.navbar-content{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    gap: 10px;
}

.logo .highlight {color: red;}

.menu a{
    text-decoration: none;
    color: var(--text-color);
    margin-left: 20px;
    font-size: 10px;
}

btn-nav{
    border: 1px solid var(--border-color);
    padding: 8px 16px;
    border-radius: 6px;
    transition: 1s;
}

.btn-nav:hover{
    border-color: var(--text-color)
}

/*seção hero*/

.hero{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
    background: radial-gradient(circle at top, #8539f7 0%, #0d1117 70%);
}

.tag{
    background-color: #1f2428;
    border: 2px solid;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 8px;
    text-transform: uppercase;
}

.hero h1{    
    font-size: 50px;
    margin: 20px 0;
}

hero p{
    color:#8b949e;
    max-width: 600px;
    margin: 0 auto 40px auto;
    font-size: 1.2 rem;    
}

.btn{
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    cursor:pointer;
    border: none;
    transition: 1s;
}

btn-primary{
    background-color: var(--text-color);
    color: whitesmoke;
}

btn-primary:hover{
    background-color: var(--primary-color);
}

btn-outline{
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    margin-left: 10px;
}

.btn-outline:hover{
    background-color: var(--border-color);
}

/*módulos -seção o que vai aprender*/

.row{
    display: flex;
    gap:50px;
    margin-top: 60px;
}

.card{
    flex: 1;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    padding: 30px;
    border-radius: 12px;
}

.icon-box{
    font-weight: 32px;
    color: var(--primary-color);
}

footer{
    text-align: center;
    padding: 40px;
    color: #b11a1a;
    border-top: 1ps solid var(--border-color);
    background-color:#8b949e;
}